@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Lobster+Two:ital@0;1&family=Merienda:wght@300&family=Playfair+Display:ital@1&family=Shantell+Sans:ital@1&display=swap');

/* font-family: 'Bree Serif', serif;
font-family: 'Lobster Two', cursive;
font-family: 'Merienda', cursive;
font-family: 'Playfair Display', serif;
font-family: 'Shantell Sans', cursive; */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.icon-cart{
    width: 40px;
    height: 40px;
    stroke: #000;
}

.icon-cart:hover{
    cursor: pointer;
}

img{
    max-width: 100%;
}
footer {
    display: flex;
    width: 100%;
    height: 70px;
    background-color: #9F9EA1;
    text-align: center;
    padding-top: 15px;
    margin-top: 20px;
    /*margin-top: 20px;*/
    justify-content: space-evenly;
}

.card{
    transition: all 0.3s;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
}

.card:hover{
    transform: scale(1.05);
}


/* ------------------ Header Carrito -------------------*/

header{
    display: flex;
    justify-content: space-between;
    
}

.container-icon{
    position: relative;
}

.count-products{
    position: absolute;
    top: 55%;
    right: 0;

    background-color: #000;
    color: #fff;
    width: 25px;
    height: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

#contador-productos{
    font-size: 12px;
}

.container-cart-products{
    position: absolute;
    top: 50px;
    right: 0;

    background-color: #fff;
    width: 500px;
    z-index: 1;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    
}

.cart-product{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;

    border-bottom: 1px solid rgba(0, 0, 0, 0.20);

}

.info-cart-product{
    display: flex;
    justify-content: space-between;
    flex: 0.8;
    height: 40px;
    align-items: center;
}

.titulo-producto-carrito{
    font-size: 20px;
    margin-bottom: 0;
}

.precio-producto-carrito{
    font-weight: 700;
    font-size: 20px;
    margin-left: 10px;
}

.cantidad-producto-carrito{
    font-weight: 400;
    font-size: 20px;
}

.icon-close{
    width: 25px;
    height: 25px;
}

.icon-close:hover{
    stroke: red;
    cursor: pointer;
}

.cart-total{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 20px;
}

.cart-total h3{
    font-size: 20px;
    font-weight: 700;
}

.total-pagar{
    font-size: 20px;
    font-weight: 900;
}

.hidden-cart{
    display: none;
}

.cart-empty{
    padding: 20px;
    text-align: center;
}

.card-contador{
    background: rgb(127,119,219);
    background: linear-gradient(90deg, rgba(127,119,219,1) 0%, rgba(192,176,240,1) 57%, rgba(117,108,224,1) 100%);
    margin-bottom: 20px;
    text-align: center;
    font-family: 'Bree Serif', serif;
}

